<footer>
    
        
  <a href="#" title="Înapoi sus" id="link-top">
    <div id="romb">
      <div id="con">
      </div>
    </div>
  </a>

    <a href="tel:+40770578695">Telefon Țîrlea Cristian</a><br>
    <a href="mailto:tirleacristian51@gmail.com">Mail Țîrlea Cristian</a><br>
    <a href=" https://wa.me/+40770578695?text=Bună%20ziua%20!">Whatsapp</a><br>
    <a href="https://www.google.ro/maps/dir//Facultatea+de+Matematic%C4%83+%C8%99i+Informatic%C4%83,+Strada+Academiei+14,+Bucure%C8%99ti+010014/@44.4355355,26.0970118,17z/data=!4m17!1m7!3m6!1s0x40b1ff472f47f047:0x493984726f0235f9!2sFacultatea+de+Matematic%C4%83+%C8%99i+Informatic%C4%83!8m2!3d44.4355355!4d26.0995867!16s%2Fg%2F1td63tdh!4m8!1m0!1m5!1m1!1s0x40b1ff472f47f047:0x493984726f0235f9!2m2!1d26.0995867!2d44.4355355!3e2?hl=ro">Hartă</a><br>
     <small>&copy; <time datetime="2023-04-25">2023</time> PROFARM Toate drepturile
        rezervate.</small><br>
        <p id="watermark"></p>
    <banner>Acesta este un proiect școlar!</banner>
</footer>