    <header class="c1" id="h1">
      <div class="titlu">
      <h1> STOP<span>FARM</span></h1>
   
       <input type="text" placeholder="Cauta">
      </div> 
    </header>
    <div id="container">
      <div id="line"></div>
      <div id="line"></div>
      <div id="line"></div>
    
    <nav id="nav">
        <ul class="meniu" >
            <li class="principal"><a href="/" id="acasa"> <i class="fa fa-home" id="fa" ></i> <span>Acasă</span></a>
                <ul class="submeniu">
                    <li><a href="/#welcome"> Bun venit!  </a></li>
                    <li><a href="/#tabel">Sărbători legale</a></li>
                    <li><a href="/#calendar">Evenimente</a></li>
                    <li><a href="/#anunturi"><b>Promoții</b></a></li>
                    <li><a href="/#utilizatori">Utilizatori online</a></li>
                    <li><a href="/#date-utilizator">Statistici utilizatori</a></li>
                    <li><a href="/#date">Date site și server</a></li>
                    <li><a href="/#intrebari">Întrebări frecvente</a></li>
                </ul>
            </li>
            
            <li class="principal"><a href="#"> Produse</a>
                <ul class="submeniu">
                    <li>
                        <a href="#">Produse de îngrijire</a>
                    </li>
                    <li>
                        <a href="#">Mama și copilul</a>
                    </li>
                    <li>
                        <a href="#">Dietă și nutriție</a>
                    </li>
                </ul>
            </li>
            <li class="principal"><a href="/despre_noi">Despre noi</a></li>
            <li class="principal"><a href="#">Înregistrare</a></li>
        </ul>
    </div>
    </nav>
  
